* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
    font-family: 'Avenir';
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Metropolis-Medium.otf);
}

@font-face {
    font-family: creation;
    src: url(fonts/creattion-demo/Creattion\ Demo.otf);
}
a {
    text-decoration: none;
}
header {
    padding: 4rem;
    display: flex;
    justify-content: space-between;    
    z-index: 100;
}

#contacts ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#contacts ul li {
    padding: 0.5rem;
}

#contacts ul li i {
    font-size: 20px;
}

body {
    background-color: #f1f6fa;
}

.head {
    margin-right: 5rem;
}

#contacts {
    margin-left: auto;
}

#bg-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -99;
}

#bg-image > img {
    width: 100%; /* Set the width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 600px; /* Set a maximum width if needed */
    max-height: 600px; /* Set a maximum height if needed */
}

#bg-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
#name .name {
    font-family: 'creation';
    font-size: 5rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* Add an outline around the text */
    font-weight: 700;
}
.name:hover {
    color: grey;
}
#bottom-nav {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}

#bottom-nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-family: Avenir;
}

#bottom-nav a:hover {
    padding: 1rem;
    background-color: black;
    color: #f1f6fa;
}